<h4>Counter</h4>

<!--
 {{expression}} - interpolation, angular watch data changes, eval the expression, display the result

 (eventName) = "expression"  - event binding  , $event is a keyword

 [propertyName]="expression" - property binding, html attributes

{{}} -- evaluate the expression, then convert the result to toString()
[] - preserve the result datatype

 *ngIf - structural directive, add/delete DOM elements
 ngClass - attribtue directive, but manipulate the attributes, class
 

-->

<div (click)="divClick($event)"
     [ngClass]="{highlightColor: highlight}" 
     (mouseenter)="highlight=true"
     (mouseleave)="highlight=false"
>
    <p> Counter {{counter}}</p>
    <p> Counter + 1 = {{counter + 1}}</p>
    
    <button (click)="increment($event)" >+1</button> 

    <button (click)="incrementBy(2)" >+2</button> 

    <button (click)="counter = counter - 1">-1</button>

    <input [value]="counter" />
    <input [value]="counter * 10" />
    <button [disabled]="counter % 2 == 0"> Disabled </button>
</div>

<div *ngIf="counter % 2 == 0">
    <p >New Counter {{counter}}</p>
    <button>Welcome</button>
</div>

<button (click)="resetValue()">
    Reset
</button>