<h2 appHighlight backgroundColor="yellow"  (highlightEvent)="highlightStatus($event)" >Home</h2>


<!-- custom pipe -->
<p  appHighlight backgroundColor="pink"> Counter ^ 2 = {{homeCounter | power:2}}</p>
<p> Counter ^ 1 = {{homeCounter | power}} </p>

<p> Price {{price}}</p>
<p>Price number {{price | number:".4"}}</p>
<p>Price {{price | currency:'INR'}}</p>
<p>Date {{today}}</p> 
<p> Title {{title | uppercase}}</p>
<p>Date {{today | date}}</p> 
<p>Date {{today | date: 'fullDate' | uppercase }}</p> 
<p>Date {{today | date: 'MMM-dd-yyyy'}}</p> 
<p>Home Counter {{homeCounter}}</p>

<!--
    [()] - two way binding

     (counterChange)="homeCounter = $event"
-->

<app-counter *ngIf="show" 
            [(counter)]="homeCounter" 
            title = "My Counter"
           
            (resetEvent)="resetHandler($event)"

            appHighlight
            
            >
</app-counter>

<hr />
<button (click)="show = !show">Show/Hide</button>